<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" href="index.html">
                <span class="w3yellow">A</span><span>SQUARE</span>
            </a>
            
            <button class="navbar-toggler" id="navbarToggle" type="button" aria-label="Toggle navigation">
                <span class="hamburger-icon">☰</span>
            </button>
            
            <ul class="nav-menu" id="navMenu">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>